name: Backend Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Copy JAR to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          source: "build/libs/*.jar"
          target: "/home/ec2-user/backend"
          strip_components: 2

      - name: Run Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            fuser -k 8080/tcp || true
            cd /home/ec2-user/backend
            nohup java -jar \
              -Dspring.profiles.active=prod \
              -DMONGODB_URI="${{ secrets.MONGODB_URI }}" \
              -DDB_URL="${{ secrets.DB_URL }}" \
              -DDB_USERNAME="${{ secrets.DB_USERNAME }}" \
              -DDB_PASSWORD="${{ secrets.DB_PASSWORD }}" \
              -DAWS_ACCESS_KEY="${{ secrets.AWS_ACCESS_KEY }}" \
              -DAWS_SECRET_KEY="${{ secrets.AWS_SECRET_KEY }}" \
              -DFIREBASE_API_KEY="${{ secrets.FIREBASE_API_KEY }}" \
              -DFIREBASE_APP_ID="${{ secrets.FIREBASE_APP_ID }}" \
              -DFIREBASE_VAPID_KEY="${{ secrets.FIREBASE_VAPID_KEY }}" \
              *.jar > log.txt 2>&1 &
